<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
{% include "./header.html" %}
<div class="container-fluid">
    <div class="row">
        {% include "./patern.html" %}
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
            {% if can_download|length %}
            <div class="table-responsive">
                <table class="table table-striped table-sm">
                    <thead>
                    <tr>
                        <th>№</th>
                        <th>File name</th>
                        <th>Download button</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for name in can_download %}
                    <tr>
                        <td><h4 class="text-left">{{forloop.counter}}</h4></td>
                        <td><h3>{{name}}.py</h3></td>
                        <td>
                            <a class="btn btn-outline-primary btn-sm" href="/download/{{name}}" role="button">Click to
                                download report</a>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            {% else %}
            <h3>We haven't reports to send you, try to run some tests</h3>
            {% endif %}
        </main>
    </div>
</div>
</body>
</html>