<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
{% include "./helpers/header.html" %}
<div class="container-fluid">
    <div class="row">
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
            <h1 class="mt-5">How to use our linter</h1>
            <ol>
                <li><p>Lorem ipsum dolor sit amet, quia voluptas sit, aspernatur aut odit aut fugit, sed quia
                    consequuntur magni dolores eos, qui ratione voluptatem sequi nesciunt, neque porro quisquam est, ut
                    et voluptates repudiandae sint et molestiae non recusandae.</p></li>
                <li><p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet, qui in
                    ea voluptate velit esse, quam nihil molestiae consequatur, vel illum, velit esse cillum dolore eu
                    fugiat nulla pariatur.</p></li>
                <li><p>Itaque earum rerum hic tenetur a sapiente delectus, qui blanditiis praesentium voluptatum
                    deleniti atque corrupti, quos dolores et quas molestias excepturi sint, nisi ut aliquid ex ea
                    commodi consequatur?</p></li>
                <li><p>Excepteur sint occaecat cupidatat non proident, consectetur adipiscing elit, quae ab illo
                    inventore veritatis et quasi architecto beatae vitae dicta sunt, explicabo? Temporibus autem
                    quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet, unde omnis iste natus
                    error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa, qui dolorem
                    eum fugiat, quo voluptas nulla pariatur! Temporibus autem quibusdam et aut officiis debitis aut
                    rerum necessitatibus saepe eveniet, quis nostrum exercitationem ullam corporis suscipit laboriosam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. At vero eos et
                    accusamus et iusto odio dignissimos ducimus, consectetur adipiscing elit, facere...</p>
                </li>
            </ol>
        </main>
    </div>
</div>
</body>
</html>