<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
{% include "./helpers/header.html" %}
<main>
    <!-- Header - set the background image for the header in the line below -->

    <div class="container-fluid">
        <div class="row">
            {% if logined == True %}
            {% include "./helpers/patern.html" %}
            {% endif %}

            <!-- Content section -->
            <div class="py-5">
                <div class="container">
                    <h1>Section Heading</h1>
                    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, suscipit, rerum quos facilis
                        repellat
                        architecto commodi officia atque nemo facere eum non illo voluptatem quae delectus odit vel
                        itaque
                        amet.</p>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- Footer -->
<footer class="py-5 bg-dark fixed-bottom">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2020</p>
    </div>
    <!-- /.container -->
</footer>
</body>
</html>

