<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
{% include "./helpers/header.html" %}
<div class="container-fluid">
    <div class="row">
        {% include "./helpers/patern.html" %}
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-3">Welcome to Linter!</h1>
                <p><a class="btn btn-primary btn-lg" href="/how_use" role="button">How to use</a></p>
            </div>
        </div>
    </div>
</div>
</body>
</html>

